@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <select asp-for="@Model.CurrentCommand" asp-items="@Model.Options">
        <option>Выберите команду</option>
    </select>
</div>
